@media (min-width: 320px) and (max-width: 430px) {
    main{
        margin:10px 0px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .logo {
        display: flex;
        border-radius: 100px;
        height: 40px;
        margin: 10px;
    }

    .textoResaltado2{
        margin-bottom: 0;
    }


    .gridProductos{
        display:flex;
        flex-direction: column;
    }
    .productoMain{
        border-width: 0.1rem;
        border-radius: 1rem;
        padding: 0;
        height: auto;
        max-width: 350px;
        margin: auto;
    }
    .productosEspecifico {
        grid-template-columns: 1fr;
      }

}

@media (min-width: 431px) and (max-width: 767px) {
    main{
        margin:10px 0px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .logo {
        display: flex;
        border-radius: 100px;
        height: 40px;
        margin: 10px;
    }
    .textoResaltado2{

        margin-bottom: 0;
    }
    .gridProductos{
        display:flex;
        flex-direction: column;
    }
    .productoMain{
        border-width: 0.1rem;
        border-radius: 1rem;
        padding: 0;
        height: auto;
        max-width: 350px;
        margin: auto;
    }
    .productosEspecifico {
        grid-template-columns: 1fr;
      }
}

@media (min-width: 768px) and (max-width: 991px) {
    .productosEspecifico {
      grid-template-columns: repeat(2, 1fr);
    }
  }